body
{
    display:inline;
}

.left_display
{
    float: left;
    height:45.1em;
    width:40%;

    margin:none;
    padding:none;
    border:none;

    background-image:url("../image/login_bg_image/login_bg_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.right_display
{
    display: block;
    float:right;
    height:44em;
    width:60%;

    margin:none;
    padding:none;
    border:none;
    outline: none;
    
    background-color: #ffffff;
}

.login_form
{
    margin-top: 10em;
    background:none;
}

.heading
{
    display:block;
    margin-bottom:40px;
    
    font-family:'Alatsi';
    font-size:25px;
    font-weight: bold;
    color:  #4c00e6;
}

::placeholder  /* Firefox */
{
    font-family: 'Alatsi';
    font-size: 15px;
    color: black;
    opacity: 0.3;
    text-align: center; 
}

:-ms-input-placeholder  /* Internet Explorer 10-11 */
{ 
    font-family: 'Alatsi';
    font-size: 15px;
    color: black;
    opacity: 0.3;
}

::-ms-input-placeholder /* Microsoft Edge */
{
    font-family: 'Alatsi';
    font-size: 15px;
    color: black;
    opacity:0.3;
}

.login_form input[type="text"], input[type="password"]
{
    display:block;
    height:35px;
    width:25%;

    margin:20px;
    padding:5px;

    background-color: inherit;
    border-color: #cccccc;
    border-top:none;
    border-left:none;
    border-right:none;

    font-family: 'Alatsi';
    font-size: 15px;
    text-align: center;
    transition:0.3s;
}

.login_form input[type="text"]:focus, input[type="password"]:focus
{
    width:30%;

    outline: none;
    border-color: #884dff;
}

.login_form .submit_button
{
    display:block;
    height:40px;
    width:120px;

    margin-top:40px;
    padding:5px 7px;
    border:none;
    border-radius:20px;

    font-family:'Alatsi';
    font-size: 18px;
    background-color:#661aff;
    color:whitesmoke;
    box-shadow:3px 3px 5px #999999;
    transition:0.3s;
}

.login_form .submit_button:hover
{
    background-color:#661aff;
    box-shadow: 3px 3px 5px #808080;
}

a
{
    display:block;
    color:  #737373;
    margin-top: 30px;
    
    text-decoration: none;
    font-family:'Alatsi';
    font-size:16px;
    font-weight: bold;
    color:  #884dff;
    transition: 0.3s;
}

a:hover
{
    color:#4c00e6;
}